#root {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.body-grid {
  display: grid;
  width: 100%;
  gap: 16px;
  padding: 16px;
  grid-template-columns: 40% 60%;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 24px;
  row-gap: 1ex;
  column-gap: 0;
}

.dropdown-row {
  display: contents; /* Makes children direct grid items */
}

.exit-label, .dropdown-select {
  display: block;
  margin: 0;
  padding: 0;
}

.dropdown-grid > * {
  height: 24px;
  min-height: 24px;
  width: 240px;
  min-width: 240px;
  font-size: 10pt;
}

.dropdown-grid, .mermaid-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
  padding-right: 1ex;
}

.mermaid-renderer {
  background-color: #222 !important;
}

.mermaid-container > .mermaid-renderer {
  height: auto;
  min-height: 100%;
}
