name: Deploy to Github Pages
permissions:
  contents: write
  pages: write
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - name: Check out Repository
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Installing the project dependencies
      run: npm ci
    - name: Building the project
      run: npm run publish
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        repository-name: lonegraywolf2000/lonegraywolf2000.github.io
        folder: dist
        target-folder: pancakes
        token: ${{ secrets.PUBLISH_TOKEN }}
